.profile-main-container {
  position: relative;
  left: 0px;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: left-top-center-anime 0.3s ease-in-out;
}

@keyframes left-top-center-anime {
  0% {
    left: -100vw;
  }
  100% {
    left: 0px;
  }
}

.no-post-view-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.camera-container {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
  border: 1.12px solid #262626;
}

.no-posts-yet-heading {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-top: 5px;
}

.profile-body-container {
  /* border: 2px solid red; */
  padding-top: 15px;
  padding-bottom: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  left: 0px;
  animation: left-top-center-anime;
}

@media screen and (min-width: 768px) {
  .profile-body-container {
    align-self: center;
    width: 70%;
  }
}

.profile-first-container {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.profile-image {
  margin-right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

@media screen and (min-width: 350px) {
  .profile-image {
    margin-right: 20px;
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 416px) {
  .profile-image {
    margin-right: 20px;
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .profile-image {
    height: 100px;
    width: 100px;
  }
}

.post-followers-following-items-container {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
}

.each-status-item {
  /* border: 2px solid pink; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

@media screen and (min-width: 768px) {
  .each-status-item {
    flex-direction: row;
    margin-right: 30px;
  }
}

.status-count {
  font-family: Roboto;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}

@media screen and (min-width: 768px) {
  .status-count {
    margin-right: 5px;
  }
}

.status-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}

.profile-username-in-sm {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-bottom: 15px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .profile-username-in-sm {
    display: none;
  }
}

.profile-username-in-lg {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .profile-username-in-lg {
    display: none;
  }
}

.profile-items-container {
  display: flex;
  margin-top: 10px;
}

.profile-caption-container-in-lg {
  /* border: 2px solid maroon; */
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .profile-caption-container-in-lg {
    display: none;
  }
}

.profile-caption-container-in-sm {
  /* border: 2px solid maroon; */
  margin-top: 20px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .profile-caption-container-in-sm {
    display: none;
  }
}

.profile-caption-username {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-bottom: 10px;
}

.profile-caption {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}

.profile-stories-container {
  /* border: 2px solid red; */
  display: flex;
  margin-top: 30px;
  margin-left: 10px;
  position: relative;
  left: 0px;
  animation: left-top-center-anime 0.3s ease-in-out;
}

.profile-story-item {
  border: 1px solid #c7c7cc;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  margin-right: 15px;
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .profile-story-item {
    height: 110px;
    width: 110px;
  }
}

.profile-story-img {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.profile-posts-container {
  margin-top: 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.profile-grid-icon-container {
  /* border: 2px solid maroon; */
  display: flex;
  align-items: center;
  padding: 10px;
  padding-left: 20px;
  margin-bottom: 10px;
}

.grid-posts-para {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
  margin-left: 15px;
}

.profile-post-item {
  /* border: 2px solid red; */
  height: 110px;
  width: 110px;
  padding: 2px;
}

@media screen and (min-width: 390px) {
  .profile-post-item {
    height: 130px;
    width: 130px;
  }
}

@media screen and (min-width: 768px) {
  .profile-post-item {
    height: 150px;
    width: 150px;
  }
}

@media screen and (min-width: 992px) {
  .profile-post-item {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .profile-post-item {
    height: 250px;
    width: 250px;
  }
}

.profile-post-un-order-container {
  /* border: 2px solid yellowgreen; */
  display: flex;
  position: relative;
  left: 0px;
  animation: left-top-center-anime 0.3s ease-in-out;
}

.profile-post-image {
  height: 100%;
  width: 100%;
}
